.parentDiv {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: solid gray 1px;
  border-top: solid gray 1px;
  padding: 5px 10px 5px 10px; 
}

.resultHeader {
  margin-top: 15px;
  text-align: center;
  vertical-align: middle; 
}

.userRepo {
  float: left;
  font-weight: 500;
}

.branchSpan {
  font-weight: normal;
}

.pathFileDiv {
  display: inline;
}

.pathFileSpan {
  cursor: pointer;
}

.githubLinkDiv {
  float: right;
}

.numAppearances {
  margin-bottom: 15px;
}

.fragments {
  padding: 5px;
}

.githubFileLink:link, .githubFileLink:visited, .githubFileLink:hover,
  .githubFileLink:active{
  color: unset;
}

.repositoryLink:link, .repositoryLink:visited, .repositoryLink:hover,
  .repositoryLink:active{
  color: unset;
}
