.parentDiv {
  display: flex;
  height: 100%;
  width: 100%;
}

.leftPanel {
  border: 1px solid gray;
  height: 100%;
  width: 20%;
  display: none;
} 

.centralParentPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.centralTopPanel {
  border: 1px solid gray;
  overflow: auto;
  height: 80%;
}

.centralBottomPanel {
  height: 20%;
}

/**
 * Computer
 */
@media screen and (min-width: 900px) {
.leftPanel {
  display: unset;
}

.centralParentPanel {
  width: 80%;
}
} /* Computer */
