/**
 * Cellphone
 */
@media only screen and (max-width: 700px), (max-height: 400px) {
.titleName, .titleBeta {
  display: none;
}
} /* Cellphone */

.parentDiv {
  padding: 15px 20px 20px 20px;
  border-bottom: 2px solid gray;
  background-color: #dce0e0;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.nameDiv {
  display: inline-block;
  margin-right: 5px;
}

.nameUrl {
  display: flex;
  align-items: baseline;
}

.imgLogo {
  height: 50px;
}

.titleName {
  font-weight: bold;
  font-size: 1.8em;
  margin: 0px 1px 0px 6px;
}

.titleBeta {
  font-size: 0.9em;
}

.nameDiv a:link, .nameDiv a:visited, .nameDiv a:hover,
  .nameDiv a:active{
  color: unset;
  text-decoration: none;
}

.inputsDiv {
  display: inline-block;
}

.switchsDiv {
  display: inline-block;
  margin: 0 2px;
}

.byDiv {
  display: none;
  margin-top: 10px;
  flex-grow: 2;
  justify-content: flex-end;
  align-items: baseline;
}

.verticalLine {
  font-size: 45px;
  font-weight: 100;
}

.imgName {
  height: 30px;
}

.githubImg {
  height: 30px;
}

/**
 * Computer
 */
@media screen and (min-width: 900px) {
.byDiv {
  display: inline-flex;
}
} /* Computer */
