.top-bar-div {
  padding: 15px 20px 20px 20px;
  border-bottom: 2px solid gray;
  background-color: #dce0e0;
}

.name-div {
  display: inline-block;
  margin-right: 5px;
}

.img-logo {
  height: 50px;
}

.title-name {
  font-weight: bold;
  font-size: 1.8em;
  margin: 0px 1px 0px 6px;
}

.title-beta {
  font-size: 0.9em;
}

.name-div a:link, .name-div a:visited, .name-div a:hover,
  .name-div a:active{
  color: unset;
  text-decoration: none;
}

.search-switch-div {
  display: inline-block;
}

.switchs-div {
  display: inline-block;
}

.by-div {
  display: inline-block;
  float: right;
  margin-top: 10px;
}

.vertical-line {
  font-size: 45px;
  font-weight: 100;
}

.img-name {
  height: 30px;
}

.github-img {
  height: 30px;
}
