.parentDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topDiv {
  height: 85px;
}

.contentDiv {
  /* To make the panel take all the remaining height, put to have double `flex-gow`
  than the other children (default is 1) */
  flex-grow: 2;
  overflow: auto;
}
